/* 
.container-main-calculadora: Estiliza o contêiner principal da calculadora.
*/
.container-main-calculadora {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative; /* Define a posição como relativa */
}

/* 
.container-main-calculadora-titulo: Estiliza o título da calculadora.
*/
.container-main-calculadora-titulo {
  width: 80%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(1, 228, 20, 0.449);
}

/* 
.container-main-calculadora-titulo h1: Estiliza o texto do título da calculadora.
*/
.container-main-calculadora-titulo h1 {
  font-weight: 750;
  color: #000000;
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-family: "Montserrat", sans-serif;
}

/* 
.container-main-calculadora-espacamento: Estiliza um espaço dentro do contêiner principal da calculadora.
*/
.container-main-calculadora-espacamento {
  width: 95%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
.container-main-calculadora-principal: Estiliza o contêiner principal da interface da calculadora.
*/
.container-main-calculadora-principal {
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
.container-main-calculadora-principal-espacamento: Estiliza um espaço dentro do contêiner principal da interface da calculadora.
*/
.container-main-calculadora-principal-espacamento {
  width: 90%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:  rgb(54, 55, 54);
  border-radius: 2%;
}

/* 
.container-main-calculadora-principal-espacamento-idade,
.container-main-calculadora-principal-espacamento-sexo,
.container-main-calculadora-principal-espacamento-peso,
.container-main-calculadora-principal-espacamento-altura: Estiliza os espaços para entrada de idade, sexo, peso e altura.
*/
.container-main-calculadora-principal-espacamento-idade,
.container-main-calculadora-principal-espacamento-sexo,
.container-main-calculadora-principal-espacamento-peso,
.container-main-calculadora-principal-espacamento-altura {
  height: 15%;
  width: 95%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-weight: 700;
}

/* 
.container-main-calculadora-principal-espacamento-idade-selecione,
.container-main-calculadora-principal-espacamento-sexo-selecione: Estiliza os espaços de seleção de idade e sexo.
*/
.container-main-calculadora-principal-espacamento-idade-selecione,
.container-main-calculadora-principal-espacamento-sexo-selecione {
  width: 50%;
  height: 40%;
  display: flex;
  align-items: left;
  justify-content: flex-start;
}

/* 
.container-main-calculadora-principal-espacamento-idade-selecione p,
.container-main-calculadora-principal-espacamento-sexo-selecione p: Estiliza o texto nos espaços de seleção de idade e sexo.
*/
.container-main-calculadora-principal-espacamento-idade-selecione p,
.container-main-calculadora-principal-espacamento-sexo-selecione p {
  font-size: 1.5rem;
}

/* 
.container-main-calculadora-principal-espacamento-idade-escolha,
.container-main-calculadora-principal-espacamento-sexo-escolha: Estiliza os espaços de escolha de idade e sexo.
*/
.container-main-calculadora-principal-espacamento-idade-escolha,
.container-main-calculadora-principal-espacamento-sexo-escolha {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* 
.container-main-calculadora-principal-espacamento-idade-escolha input,
.container-main-calculadora-principal-espacamento-sexo-escolha input: Estiliza os campos de entrada de idade e sexo.
*/
.container-main-calculadora-principal-espacamento-idade-escolha input,
.container-main-calculadora-principal-espacamento-sexo-escolha input {
  height: 35%;
  width: 5%;
  border-radius: 20%;
}

/* 
.container-main-calculadora-principal-espacamento-idade-escolha p,
.container-main-calculadora-principal-espacamento-sexo-escolha p: Estiliza o texto nos campos de entrada de idade e sexo.
*/
.container-main-calculadora-principal-espacamento-idade-escolha p,
.container-main-calculadora-principal-espacamento-sexo-escolha p {
  text-align: center;
}

/* 
.container-main-calculadora-principal-espacamento-peso input: Estiliza o campo de entrada de peso.
*/
.container-main-calculadora-principal-espacamento-peso input {
  width: 40%;
  height: 30%;
  border: none;
  border-radius: 15px;
  padding-left: 7px;
  outline: none;
  background-color: #d9d9d9;
}

/* 
.container-main-calculadora-principal-espacamento-peso-escolha: Estiliza o espaço de escolha de peso.
*/
.container-main-calculadora-principal-espacamento-peso-escolha {
  height: 40%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
}

/* 
.container-main-calculadora-principal-espacamento-peso-escolha p: Estiliza o texto no espaço de escolha de peso.
*/
.container-main-calculadora-principal-espacamento-peso-escolha p {
  text-align: center;
}

/* 
.container-main-calculadora-principal-espacamento-altura input: Estiliza o campo de entrada de altura.
*/
.container-main-calculadora-principal-espacamento-altura input {
  width: 40%;
  height: 30%;
  border: none;
  border-radius: 15px;
  padding-left: 7px;
  outline: none;
  background-color: #d9d9d9;
}

/* 
.container-main-calculadora-principal-espacamento-altura-escolha: Estiliza o espaço de escolha de altura.
*/
.container-main-calculadora-principal-espacamento-altura-escolha {
  height: 40%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
}

/* 
.container-main-calculadora-principal-espacamento-altura-escolha p: Estiliza o texto no espaço de escolha de altura.
*/
.container-main-calculadora-principal-espacamento-altura-escolha p {
  text-align: center;
}

/* 
.container-main-calculadora-principal-espacamento-btn: Estiliza o espaço dos botões na interface da calculadora.
*/
.container-main-calculadora-principal-espacamento-btn {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

/* 
.container-main-calculadora-principal-espacamento-btn button: Estiliza os botões na interface da calculadora.
*/
.container-main-calculadora-principal-espacamento-btn button {
  width: 25%;
  height: 70%;
  border: none;
  background-color: rgb(18, 207, 18);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  outline: none;
}

/* 
.container-container-main-calculadora-bloco: Estiliza um bloco dentro do contêiner principal da calculadora.
*/
.container-container-main-calculadora-bloco {
  width: 30%;
  height: 75%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

/* 
.container-main-calculadora-paragrafo: Estiliza um parágrafo na interface da calculadora.
*/
.container-main-calculadora-paragrafo {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: start;
  justify-content: center;
}

/* 
.container-main-calculadora-paragrafo p: Estiliza o texto dentro do parágrafo na interface da calculadora.
*/
.container-main-calculadora-paragrafo p {
  font-weight: 750; 
  letter-spacing: -0.01em;
  color: #0f141e;
  font-size: 1rem;
  padding-top: 1px;
  padding-bottom: 4px;
  text-align: center;
  text-align: justify;
  margin-bottom: 5%;
}

/* 
.container-main-calculadora-principal-saidas: Estiliza as saídas principais da calcul
*/

/* 
.container-main-calculadora-principal-saidas: Estiliza as saídas principais da calculadora.
*/
.container-main-calculadora-principal-saidas {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}

/* 
.container-main-calculadora-principal-saidas img: Estiliza as imagens nas saídas principais da calculadora.
*/
.container-main-calculadora-principal-saidas img {
  height: 100%;
  width: 40%;
}
