/* 
@import url(): Importa as fontes do Google Fonts para o documento.
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 
* : Estiliza todos os elementos para que tenham padding e margem zero e a caixa seja dimensionada incluindo o preenchimento e a borda.
*/
* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Now Display DW", sans-serif; /* Define a fonte padrão para o documento */
}

/* 
.container: Estiliza o contêiner principal.
*/
.container-pagina {
  height: 429vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif; /* Define a fonte padrão para o contêiner */
  position: relative; /* Define a posição como relativa */
  overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
}

.container-pagina-receitas {
  height: 125vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif; /* Define a fonte padrão para o contêiner */
  position: relative; /* Define a posição como relativa */
  overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
}


/* 
.container-main-conteudo: Estiliza o conteúdo principal.
*/
.container-main-conteudo {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 95%;
  margin-top: 40px; /* Adiciona margem superior */
  margin-bottom: 40px; /* Adiciona margem inferior */
}

/* 
.container-main-conteudo-titulo: Estiliza o título do conteúdo.
*/
.container-main-conteudo-titulo {
  align-self: center;
  width: 80%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem; /* Adiciona margem inferior */
  background-color: rgba(1, 228, 20, 0.449); /* Define a cor de fundo */
}

/* 
.container-main-conteudo-titulo h1: Estiliza o texto do título do conteúdo.
*/
.container-main-conteudo-titulo h1 {
  font-weight: 750;
  color: #000000; /* Define a cor do texto */
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-family: "Montserrat", sans-serif; /* Define a fonte */
}

/* 
.container-main-conteudo-bloco: Estiliza um bloco de conteúdo.
*/
.container-main-conteudo-bloco {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Alinha o texto e a imagem */
}

.container-main-conteudo-bloco-conteudo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* 
.container-main-conteudo-bloco-texto: Estiliza o bloco de texto.
*/
.container-main-conteudo-bloco-texto {
  justify-self: flex-start;
  align-self: flex-start;
  width: 50%;
  height: 100%;
  padding-left: 10rem; /* Adiciona preenchimento à esquerda */
}

/* 
.container-main-conteudo-bloco-texto p: Estiliza o texto dentro do bloco de texto.
*/
.container-main-conteudo-bloco-texto p {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #0f141e; /* Define a cor do texto */
  padding-top: px;
  padding-bottom: 4px;
  text-align: start; /* Alinha o texto à esquerda */
}

#a100cem {
    width: 80%;
}

/* 
.container-main-conteudo-bloco-imagem: Estiliza o bloco de imagem.
*/
.container-main-conteudo-bloco-imagem {
  width: 50%;
  height: 100%;
}

/* 
.container-main-conteudo-bloco-imagem img: Estiliza a imagem dentro do bloco de imagem.
*/
.container-main-conteudo-bloco-imagem img {
  height: 90%; /* Ajusta a altura da imagem */
  width: 70%; /* Ajusta a largura da imagem */
  object-fit: contain;
  border-radius: 10px;
}

/* 
.container-main-conteudo-bloco-imagem img:hover: Estiliza a imagem ao passar o mouse sobre ela.
*/
.container-main-conteudo-bloco-imagem img:hover {
  transform: scale(1.0); /* Aumenta ligeiramente o tamanho da imagem */
}

/* 
.container-main-conteudo-bloco-imc: Estiliza o bloco de IMC.
*/
.container-main-conteudo-bloco-imc {
  align-self: center;
  height: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem; /* Adiciona margem superior */
}

/* 
.container-main-conteudo-bloco-texto-imc: Estiliza o texto dentro do bloco de IMC.
*/
.container-main-conteudo-bloco-texto-imc {
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
}

/* 
.container-main-conteudo-bloco-texto-imc p: Estiliza o texto dentro do bloco de IMC.
*/
.container-main-conteudo-bloco-texto-imc p {
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #0f141e; /* Define a cor do texto */
  padding-top: 1px;
  padding-bottom: 4px;
  text-align: center; /* Alinha o texto ao centro */
}

/* 
.container-main-conteudo-bloco-imagem-imc: Estiliza o bloco de imagem do IMC.
*/
.container-main-conteudo-bloco-imagem-imc {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* 
.container-main-conteudo-bloco-imc-imagem img: Estiliza a imagem dentro do bloco de imagem do IMC.
*/
.container-main-conteudo-bloco-imc
-imagem img {
  height: 90%; /* Ajusta a altura da imagem */
  width: 90%; /* Ajusta a largura da imagem */
  object-fit: contain;
}




.nutritional-table {
  width: 90%;
  margin: 2rem auto;
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

.nutritional-table th, .nutritional-table td {
  border: 1px solid #ffffff;
  padding: 1rem;
}

.nutritional-table th {
  background-color: #0bff6b;
  color: white;
  font-weight: bold;
}

.nutritional-table tr:nth-child(even) {
  background-color: #ffffff;
}

.nutritional-table tr:hover {
  background-color: #ddd;
}

.nutritional-table td {
  background-color: rgba(11, 243, 107, 0.2);
}


/* Estilos para tornar as linhas clicáveis */
.clickable-row {
  cursor: pointer;
}

.clickable-row a {
  display: block;
  color: inherit;
  text-decoration: none;
}






